@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
html {
  font-size: 16px !important;
}

body {
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
}

.l-header {
  width: 100%;
  margin-bottom: 20rem;
}

.l-header-content {
  display: flex;
  flex-direction: row;
  background-color: #212121;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.l-header-content-img {
  order: 2;
  display: flex;
  flex-direction: row;
}
.l-header-content-img h1 {
  text-indent: -9999px;
  height: 0;
  width: 0;
}
.l-header-content-img img {
  width: 65%;
}

.l-header-content-nav {
  display: none;
}
.l-header-content-nav ul {
  margin: 0;
  padding: 0;
}
.l-header-content-nav li {
  text-decoration: none;
  list-style-type: none;
}

.l-header-content-burger {
  order: 1;
}
.l-header-content-burger span {
  display: block;
  width: 2.5rem;
  height: 0.15rem;
  background-color: #ffffff;
  margin: 0.5rem;
  border-radius: 5px;
}

.l-header-content-burger-container {
  /* 
  * Transform all the slices of hamburger
  * into an X.
  */
  /*
  * hide the middle one.
  */
}
.l-header-content-burger-container #menuToggle {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0 0.5rem 0 0;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
.l-header-content-burger-container #menuToggle a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}
.l-header-content-burger-container #menuToggle a:hover {
  color: #8121e0;
}
.l-header-content-burger-container #menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
.l-header-content-burger-container #menuToggle span {
  display: block;
  width: 40px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.l-header-content-burger-container #menuToggle span:first-child {
  transform-origin: 0% 0%;
}
.l-header-content-burger-container #menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.l-header-content-burger-container #menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #8121e0;
}
.l-header-content-burger-container #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg);
}
.l-header-content-burger-container #menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg);
  top: 2px;
}
.l-header-content-burger-container #menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #212121;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.l-header-content-burger-container #menu li {
  padding: 10px 0;
  font-size: 22px;
}
.l-header-content-burger-container #menuToggle input:checked ~ ul {
  transform: none;
}

.l-header-content-salade {
  order: 4;
}
.l-header-content-salade span {
  display: block;
  width: 2.5rem;
  height: 0.15rem;
  background-color: #ffffff;
  margin: 0.5rem;
  border-radius: 5px;
}

.l-header-content-salade-container #menuToggle2 {
  display: block;
  position: relative;
  top: 0px;
  right: 0px;
  padding: 0 0.5rem 0 0;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
.l-header-content-salade-container #menuToggle2 a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}
.l-header-content-salade-container #menuToggle2 a:hover {
  color: #8121e0;
}
.l-header-content-salade-container #menuToggle2 input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
.l-header-content-salade-container #menuToggle2 span {
  display: block;
  width: 10px;
  height: 10px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 100%;
  z-index: 1;
  transform-origin: 4px 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.l-header-content-salade-container #menuToggle2 input:checked ~ span {
  background-color: #8121e0;
}
.l-header-content-salade-container #menu2 {
  position: absolute;
  width: 5rem;
  padding-top: 2rem;
  right: -20rem;
  background: #212121;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.l-header-content-salade-container #menuToggle2 input:checked ~ #menu2 {
  right: -1rem;
}
.l-header-content-salade-container #menu2 li {
  padding: 10px 0;
  font-size: 22px;
}
.l-header-content-salade-container #menuToggle2 input:checked ~ ul {
  transform: none;
}

main > section {
  width: 100%;
}

@media screen and (min-width: 768px) {
  main > section > div {
    margin: auto;
  }
}
.l-footer {
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 3rem 1rem 1rem 1rem;
}
.l-footer p {
  color: #444444;
}

.l-footer-img h1 {
  text-indent: -9999px;
  width: 0;
  height: 0;
}

.l-footer-nav ul {
  padding: 0;
  margin: 2rem 0;
}
.l-footer-nav li {
  color: #ffffff;
  list-style-type: none;
  text-align: center;
}
.l-footer-nav a, .l-footer-nav a:link, .l-footer-nav a:visited, .l-footer-nav a:focus {
  color: #ffffff;
  text-decoration: none;
}
.l-footer-nav a:hover {
  color: #8121e0;
}

.l-footer-nav-list {
  margin: 3rem;
}

.l-footer-nav-social {
  display: flex;
}
.l-footer-nav-social li {
  margin: 0.5rem;
  padding: 1rem 1.4rem;
  background-color: #282828;
  border-radius: 100%;
}

.btn-nav {
  position: fixed;
  background-color: #8121e0;
  color: #ffffff;
  padding: 1rem 1.5rem;
  bottom: 1rem;
  right: 1rem;
  border-radius: 5px;
  text-decoration: none;
}
.btn-nav:hover {
  color: #212121;
}

.c-header-banner {
  width: 100%;
  padding: 1rem;
  height: 30vh;
  background-image: url("../img/banner-img.jpg");
  background-size: cover 50%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.c-header-banner h1 {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  text-transform: uppercase;
}

.c-header-banner-nav ul {
  padding: 0;
  margin: 0;
  display: flex;
}
.c-header-banner-nav li {
  list-style-type: none;
  padding: 1rem;
}
.c-header-banner-nav li:first-of-type {
  position: relative;
}
.c-header-banner-nav li:first-of-type::after {
  content: "•";
  color: #d8db00;
  position: absolute;
  left: 95%;
}
.c-header-banner-nav a, .c-header-banner-nav a:link, .c-header-banner-nav a:visited, .c-header-banner-nav a:focus {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
}
.c-header-banner-nav a:hover {
  color: #8121e0;
}

.c-header-banner-home {
  width: 100%;
  padding: 1rem;
  height: 50vh;
  background-image: url("../img/homapage-banner-img.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.c-header-banner-home h1 {
  -webkit-text-stroke: 2px #ffffff;
  color: transparent;
  font-weight: 800;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}
.c-header-banner-home h2 {
  color: #ffffff;
  font-weight: 800;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.c-header-banner-home-player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.c-header-banner-home-player i {
  color: #ffffff;
}
.c-header-banner-home-player .lecture {
  display: block;
  height: 1px;
  width: 60%;
  background-color: #ffffff;
  margin: 0 1rem;
}
.c-header-banner-home-player span {
  color: white;
}
.c-header-banner-home-player .elapsed::after {
  content: " - ";
}

.c-header-banner-gig-container {
  position: relative;
}

.c-header-banner-gig {
  background-image: url("../img/");
  background-color: #212121;
  width: 90%;
  padding: 5%;
  margin: auto;
  color: white;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  left: 5%;
  top: -3rem;
}
.c-header-banner-gig h1 {
  font-size: 1.8rem;
}
.c-header-banner-gig p {
  font-weight: 300;
}
.c-header-banner-gig .btn-buy-gig:visited, .c-header-banner-gig .btn-buy-gig:focus, .c-header-banner-gig .btn-buy-gig:link {
  color: #ffffff;
  background-color: #8121e0;
  text-decoration: none;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #8121e0;
  display: block;
  margin: 1rem;
  font-weight: 600;
}
.c-header-banner-gig .btn-buy-gig:hover {
  background-color: #ffffff;
  color: #8121e0;
}

.c-header-banner-gig-timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.c-header-banner-gig-timer div[class^=time], .c-header-banner-gig-timer div[class*=time] {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.c-header-banner-gig-timer .day, .c-header-banner-gig-timer .hour, .c-header-banner-gig-timer .minute {
  font-size: 2rem;
}
.c-header-banner-gig-timer span {
  font-size: 0.6rem;
}

.time-seconds {
  display: none !important;
}

* {
  font-family: "Poppins", sans-serif;
}

.c-main-discover {
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-radius: 10px;
}
.c-main-discover p {
  text-align: center;
}
.c-main-discover .c-main-discover-content-title {
  text-align: center;
  font-weight: bold;
}
.c-main-discover .c-main-discover-content-events-items {
  width: 90%;
  padding: 1rem;
  margin: 5%;
  text-align: center;
  list-style-type: none;
}
.c-main-discover .c-main-discover-content-events-items span {
  color: transparent;
  background: linear-gradient(315deg, #00a2ff 0%, purple 74%);
  -webkit-background-clip: text;
}
.c-main-discover .c-main-discover-content-events-items span:hover {
  background: linear-gradient(315deg, purple 0%, #00a2ff 74%);
  -webkit-background-clip: text;
}

@media screen and (min-width: 768px) {
  .c-main-discover-content-events-column {
    display: flex;
    text-align: center;
  }
  .c-main-discover-content-events-column span, .c-main-discover-content-events-column span:hover {
    margin-left: -17%;
    position: absolute;
  }
  .c-main-discover-content-events-column i {
    margin-top: 1rem;
  }
  .c-main-discover-content-events-column p, .c-main-discover-content-events-column h1 {
    text-align: left;
    padding-left: 5rem;
  }
}
@media screen and (min-width: 960px) {
  .c-main-discover {
    display: flex;
    flex-wrap: wrap;
  }

  .c-main-discover-content-events-items {
    border: 1px solid #f76707;
    width: 30%;
  }
}
.c-main-galery {
  height: 100%;
}

.c-main-galery-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 0;
  margin: 0;
  padding: 0;
}
.c-main-galery-content img {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.c-main-galery-content-imageHolder {
  min-height: 1%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .c-main-galery-content {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "a a b b c c" "d d d e e e" ". . . . . .";
  }
  .c-main-galery-content img {
    width: 100%;
  }
  .c-main-galery-content div:first-child {
    grid-area: a;
  }
  .c-main-galery-content div:nth-child(2) {
    grid-area: b;
  }
  .c-main-galery-content div:nth-child(3) {
    grid-area: c;
  }
  .c-main-galery-content div:nth-child(4) {
    grid-area: d;
  }
  .c-main-galery-content div:nth-child(5) {
    grid-area: e;
  }
}
@media screen and (min-width: 960px) {
  .c-main-galery-content {
    width: 100% !important;
    max-width: 100% !important;
  }
}
.c-main-galleryInfo {
  padding: 3rem 0;
}

.c-main-galeryInfo-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 50%;
  grid-gap: 1.5rem;
  margin: 0;
  padding: 0;
}
.c-main-galeryInfo-content img {
  width: 100%;
  height: 100%;
}

.c-main-galeryInfo-content-imageHolder:hover {
  position: relative;
  transform: scale(1.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-main-galeryInfo-content-imageHolder:hover:after {
  content: "ZOOM";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8121e0;
  padding: 3rem 3rem;
  border-radius: 100%;
  position: absolute;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border: 1rem solid rgba(255, 255, 255, 0.3);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .c-main-galeryInfo-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 960px) {
  .c-main-galeryInfo-content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
* {
  font-family: "Poppins", sans-serif;
}

.c-main-latest {
  box-sizing: border-box;
  width: 100%;
  padding-top: 3rem;
}

.c-main-latest-content {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.c-main-latest-content-txt h1 {
  text-align: center;
  justify-content: center;
  color: #282828;
  font-weight: bold;
}
.c-main-latest-content-txt p {
  text-align: center;
  color: #444444;
  opacity: 0.7;
  width: 90%;
  margin: 5%;
}

.c-main-latest-content-albums {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}
.c-main-latest-content-albums img {
  display: inline-block;
  width: 100%;
}

.c-main-latest-content-albums-items {
  width: 100%;
  margin: 0;
  padding: 0;
}
.c-main-latest-content-albums-items h1 {
  justify-content: center;
  text-align: center;
  color: #282828;
  padding-top: 1.8rem;
}
.c-main-latest-content-albums-items h2 {
  text-align: center;
  font-weight: lighter;
  color: #282828;
  padding-top: 1rem;
  text-shadow: 1px 1px 2px #444444;
}

@media screen and (min-width: 768px) {
  .c-main-latest-content {
    max-width: 768px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .c-main-latest-content-txt {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
  }

  .c-main-latest-content-albums-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .c-main-latest-content-albums {
    width: 45%;
    padding: 1%;
  }
}
@media screen and (min-width: 960px) {
  .c-main-latest-content {
    max-width: 960px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .c-main-latest-content-txt {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
  }

  .c-main-latest-content-albums-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .c-main-latest-content-albums {
    width: 30%;
    padding: 1%;
  }

  .c-main-latest-content-albums-items {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .c-main-latest-content-albums-items h1 {
    font-size: 24px;
    text-align: center;
  }
  .c-main-latest-content-albums-items h2 {
    text-align: center;
    font-weight: lighter;
    color: #282828;
    padding-top: 1rem;
    text-shadow: 1px 1px 2px #444444;
  }
}
.c-main-presentation-content {
  width: 90%;
  padding: 1rem;
  margin: 5%;
}
.c-main-presentation-content h1 {
  border-bottom: 1px solid #cccccc;
  width: 14rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}
.c-main-presentation-content .c-main-presentation-content-contact img {
  margin-left: 54%;
  margin-top: 0.5rem;
  width: 14rem;
}
.c-main-presentation-content .c-main-presentation-content-contact-info a {
  color: #444444;
  text-decoration: none;
  padding-left: 0.7rem;
}
.c-main-presentation-content ul {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  width: 17rem;
  margin-bottom: 1rem;
}
.c-main-presentation-content ul li {
  padding-right: 1rem;
}
.c-main-presentation-content .c-main-presentation-content-contact-btn {
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}
.c-main-presentation-content .btn-link {
  text-transform: uppercase;
  background-color: #8121e0;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding-left: 2.7rem;
  padding-right: 2.7rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}
.c-main-presentation-content figure img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .c-main-presentation-content {
    width: 90%;
    padding: 1rem;
    margin: 5%;
  }
  .c-main-presentation-content h1 {
    border-bottom: 1px solid #cccccc;
    width: 15rem;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
  }

  .c-main-presentation-content-contact-info {
    display: flex;
    width: 22rem;
    justify-content: space-between;
  }
  .c-main-presentation-content-contact-info a {
    color: #444444;
    text-decoration: none;
  }
}
@media screen and (min-width: 968px) {
  .c-main-presentation-content {
    width: 90%;
    margin: 5%;
    margin-bottom: 0px;
  }
  .c-main-presentation-content h1 {
    border-bottom: 1px solid #cccccc;
    width: 18rem;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
  }

  .c-main-presentation-content {
    display: flex;
  }

  .c-main-presentation-content-left li {
    margin-right: 1rem;
  }
  .c-main-presentation-content-left .c-main-presentation-content-contact-info {
    margin-bottom: 2rem;
  }

  .c-main-presentation-content-right img {
    margin-left: 5rem;
    padding-right: 5rem;
    min-height: 400px;
    width: 700px;
  }
}
* {
  font-family: "Poppins", sans-serif;
}

.c-main-news {
  width: 100%;
  padding: 3rem;
}
.c-main-news h1 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1em;
}

.c-main-news-content {
  display: flex;
  flex-direction: column;
}

.c-main-news-content-list {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
}
.c-main-news-content-list .c-main-news-content-list-items:nth-of-type(2) {
  display: none;
}
.c-main-news-content-list .c-main-news-content-list-items:nth-of-type(3) {
  display: none;
}

.c-main-news-content-list-items time {
  justify-content: right;
  text-align: left;
  color: #282828;
  font-weight: bold;
  border: #8121e0 1px solid;
  border-radius: 5px;
  background-color: #8121e0;
  color: white;
  text-transform: uppercase;
  margin: 5%;
  padding-right: 0.3em;
  padding-left: 0.3em;
}
.c-main-news-content-list-items h2 {
  text-align: left;
  justify-content: right;
  color: #282828;
  width: 90%;
  height: auto;
  margin: 5%;
}
.c-main-news-content-list-items p {
  text-align: justify;
  color: #444444;
  opacity: 0.7;
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.c-main-news-content-list-items-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 5%;
}
.c-main-news-content-list-items-button a {
  text-decoration: none;
  color: #444444;
  display: inline-block;
  padding: 1em;
  text-align: left;
  width: 90%;
  margin: 5%;
  display: flex;
  flex-direction: row;
}
.c-main-news-content-list-items-button a:hover {
  color: #8121e0;
}

@media screen and (min-width: 768px) {
  .c-main-news-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .c-main-news-content-list-items {
    width: 50%;
    margin: 3%;
  }

  .c-main-news-content-list-items:nth-of-type(2) {
    display: block !important;
    position: relative;
    width: 50%;
    height: 100%;
    z-index: 2;
  }
  .c-main-news-content-list-items:nth-of-type(2)::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/homepage-news-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1;
  }
}
@media screen and (min-width: 960px) {
  .c-main-news-content-list-items {
    width: 30%;
    margin: 1%;
  }

  .c-main-news-content-list-items:nth-of-type(3) {
    display: block !important;
  }
}
/*
.c-main-news-content-list-img {
    background-image: url(../img/homepage-news-background.jpg);
    background-repeat:no-repeat;
    background-position:center;
    width: 100%;
    height: 100%;
    background-size:  auto;
}*/
.c-main-presentation-content {
  width: 90%;
  padding: 1rem;
  margin: 5%;
}
.c-main-presentation-content h1 {
  border-bottom: 1px solid #cccccc;
  width: 14rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}
.c-main-presentation-content .c-main-presentation-content-contact img {
  margin-left: 54%;
  margin-top: 0.5rem;
  width: 14rem;
}
.c-main-presentation-content .c-main-presentation-content-contact-info a {
  color: #444444;
  text-decoration: none;
  padding-left: 0.7rem;
}
.c-main-presentation-content ul {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  width: 17rem;
  margin-bottom: 1rem;
}
.c-main-presentation-content ul li {
  padding-right: 1rem;
}
.c-main-presentation-content .c-main-presentation-content-contact-btn {
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}
.c-main-presentation-content .btn-link {
  text-transform: uppercase;
  background-color: #8121e0;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding-left: 2.7rem;
  padding-right: 2.7rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}
.c-main-presentation-content figure img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .c-main-presentation-content {
    width: 90%;
    padding: 1rem;
    margin: 5%;
  }
  .c-main-presentation-content h1 {
    border-bottom: 1px solid #cccccc;
    width: 15rem;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
  }

  .c-main-presentation-content-contact-info {
    display: flex;
    width: 22rem;
    justify-content: space-between;
  }
  .c-main-presentation-content-contact-info a {
    color: #444444;
    text-decoration: none;
  }
}
@media screen and (min-width: 968px) {
  .c-main-presentation-content {
    width: 90%;
    margin: 5%;
    margin-bottom: 0px;
  }
  .c-main-presentation-content h1 {
    border-bottom: 1px solid #cccccc;
    width: 18rem;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
  }

  .c-main-presentation-content {
    display: flex;
  }

  .c-main-presentation-content-left li {
    margin-right: 1rem;
  }
  .c-main-presentation-content-left .c-main-presentation-content-contact-info {
    margin-bottom: 2rem;
  }

  .c-main-presentation-content-right img {
    margin-left: 5rem;
    padding-right: 5rem;
    min-height: 400px;
    width: 700px;
  }
}
* {
  font-family: "Poppins", sans-serif;
}

.c-main-release {
  width: 100%;
  padding: 1rem;
  height: 30vh;
  background-image: url("../img/homepage-latest-releases-background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-main-release-content h1 {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}
.c-main-release-content .btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;
  width: 40%;
  background-color: #8121e0;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  margin: auto;
  padding-left: auto;
  padding-right: auto;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  text-transform: uppercase;
}

@media screen and (min-width: 960px) {
  h1 {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    text-align: center;
  }
}
.c-main-schedule-content-box {
  width: 90%;
  border: 1px solid #212121;
  margin: 1rem 5%;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.c-main-schedule-content-box-nav {
  background-color: #212121;
}
.c-main-schedule-content-box-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.c-main-schedule-content-box-nav li {
  width: 90%;
  text-align: center;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  list-style-type: none;
  color: #ffffff;
  border-bottom: 0.25rem solid #212121;
  cursor: pointer;
}
.c-main-schedule-content-box-nav li:hover {
  border-bottom: 0.25rem solid #444444;
}
.c-main-schedule-content-box-nav .schedule-active {
  border-bottom: 0.25rem solid #8121e0;
}
.c-main-schedule-content-box-nav .schedule-active:hover {
  border-bottom: 0.25rem solid #8121e0;
}

.c-main-schedule-content-box-nav-txt {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.c-main-schedule-content-box-nav-txt-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 2rem 0;
}
.c-main-schedule-content-box-nav-txt-timeline .vertical-line {
  height: 6.4rem;
  background-color: #212121;
  width: 1px;
}
.c-main-schedule-content-box-nav-txt-timeline .vertical-line- {
  height: calc(6.4rem + 55px);
}
.c-main-schedule-content-box-nav-txt-timeline .vertical-line-smol {
  height: calc(6.4rem - 35px);
}
.c-main-schedule-content-box-nav-txt-timeline .vertical-line-smol2 {
  height: calc(6.4rem - 20px);
}
.c-main-schedule-content-box-nav-txt-timeline .container {
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.c-main-schedule-content-box-nav-txt-timeline .container:hover input ~ .checkmark {
  background-color: #ccc;
}
.c-main-schedule-content-box-nav-txt-timeline .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.c-main-schedule-content-box-nav-txt-timeline .container .checkmark {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  padding: 1rem;
  border: 1px solid #212121;
  background-color: #eee;
  border-radius: 50%;
}
.c-main-schedule-content-box-nav-txt-timeline .container .checkmark::after {
  content: "";
  position: absolute;
  opacity: 0;
  top: 9px;
  left: 9px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #8121e0;
}
.c-main-schedule-content-box-nav-txt-timeline .container .choice {
  display: none;
  text-indent: -9999px;
  width: 0;
  height: 0;
}
.c-main-schedule-content-box-nav-txt-timeline .container input:checked ~ .checkmark {
  background-color: #ffffff;
}
.c-main-schedule-content-box-nav-txt-timeline .container input:checked ~ .checkmark::after {
  display: inline;
  opacity: 1;
}

.c-main-schedule-content-box-nav-txt-list-item {
  padding: 1rem 0;
}
.c-main-schedule-content-box-nav-txt-list-item h2 {
  color: grey;
  font-size: 1rem;
}
.c-main-schedule-content-box-nav-txt-list-item h1 {
  color: #212121;
  font-size: 1.2rem;
  font-weight: 600;
}
.c-main-schedule-content-box-nav-txt-list-item p {
  font-size: 0.8rem;
  color: #444444;
}
.c-main-schedule-content-box-nav-txt-list-item .btn-buy-tickets, .c-main-schedule-content-box-nav-txt-list-item .btn-buy-tickets:link, .c-main-schedule-content-box-nav-txt-list-item .btn-buy-tickets:visited, .c-main-schedule-content-box-nav-txt-list-item .btn-buy-tickets:focus {
  text-transform: uppercase;
  color: #212121;
  text-decoration: none;
  font-weight: 700;
  padding: 0.5rem;
}
.c-main-schedule-content-box-nav-txt-list-item .btn-buy-tickets:hover, .c-main-schedule-content-box-nav-txt-list-item .btn-buy-tickets:link:hover, .c-main-schedule-content-box-nav-txt-list-item .btn-buy-tickets:visited:hover, .c-main-schedule-content-box-nav-txt-list-item .btn-buy-tickets:focus:hover {
  border-radius: 5px;
  background-color: #8121e0;
  color: #ffffff;
}
.c-main-schedule-content-box-nav-txt-list-item .btn-buy-tickets::after, .c-main-schedule-content-box-nav-txt-list-item .btn-buy-tickets:link::after, .c-main-schedule-content-box-nav-txt-list-item .btn-buy-tickets:visited::after, .c-main-schedule-content-box-nav-txt-list-item .btn-buy-tickets:focus::after {
  content: " >>";
  font-weight: 900;
}

.hidden {
  display: none;
}

.c-main-tickets {
  padding: 3rem 1rem;
}
.c-main-tickets h1 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 3rem;
}

.c-main-tickets-content {
  display: flex;
  flex-direction: column;
}

.c-main-content-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.c-main-content-items h1 {
  text-transform: uppercase;
  font-size: 1rem;
  color: #444444;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 0;
}
.c-main-content-items ul {
  padding: 0;
}
.c-main-content-items li {
  list-style-type: none;
  text-align: center;
  color: grey;
  font-size: 0.8rem;
  padding: 0.2rem;
}
.c-main-content-items .price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-main-content-items .value {
  font-size: 3rem;
  color: #282828;
}

.btn-buy, .btn-buy:link, .btn-buy:visited, .btn-buy:focus {
  text-decoration: none;
  color: #212121;
  border: 1px solid #212121;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 1rem;
}
.btn-buy:hover {
  background-color: #8121e0;
  border: 1px solid #8121e0;
  color: #ffffff;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.controls .choice {
  text-indent: -9999px;
  display: block;
  width: 0;
  height: 0;
}
.controls .container {
  width: 16px;
  margin: 0;
  padding: 1rem 2rem 1rem 1rem;
  position: relative;
}
.controls .container:hover input ~ .checkmark {
  background-color: #ccc;
}
.controls .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  top: 30%;
  left: 35%;
  z-index: 3;
}
.controls .container .checkmark {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  height: 12.5px;
  width: 12.5px;
  padding: 0.5rem;
  border: 1px solid #212121;
  background-color: #eee;
  border-radius: 50%;
}
.controls .container input:checked ~ .checkmark {
  background-color: #8121e0;
  border: 1px solid #8121e0;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .c-main-tickets-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .c-main-content-items {
    width: 40%;
    margin: 5%;
    box-shadow: 0px 0px 17px 5px rgba(129, 33, 224, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 2rem 1rem;
  }

  .controls .container:nth-of-type(3) {
    display: none !important;
  }
}
@media screen and (min-width: 960px) {
  .controls {
    display: none;
  }

  .c-main-content-items {
    width: 30%;
    margin: 1%;
  }
}
.c-main-subscribe {
  padding: 3rem 1rem;
  width: 100%;
  background-image: url("../img/homepage-footer-background.jpg");
  background-position: 50%;
}

.c-main-subscribe-content {
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-main-subscribe-content h1 {
  color: #ffffff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 3rem;
}

.subs-form {
  display: flex;
  flex-direction: column;
}
.subs-form label {
  text-indent: -9999px;
  width: 0;
  height: 0;
}
.subs-form input {
  padding: 1rem;
  border-radius: 5px;
  margin: 0.5rem;
}
.subs-form input[type=email] {
  border: 1px solid #444444;
  background-color: #ffffff;
}
.subs-form input[type=submit] {
  border: 1px solid #8121e0;
  background-color: #8121e0;
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: 600;
}
.subs-form input[type=submit]:hover {
  background-color: #ffffff;
  color: #8121e0;
}

@media screen and (min-width: 768px) {
  .subs-form {
    flex-direction: row;
  }
  .subs-form input[type=submit] {
    padding: 1rem 2rem;
  }
}
@media screen and (min-width: 960px) {
  .subs-form input[type=submit] {
    padding: 1rem 3rem;
  }
}
.c-main-about .c-main-about-content {
  margin-top: 5%;
}
.c-main-about img {
  border-radius: 10px;
  margin: 5%;
  width: 90%;
  align-self: center;
}
.c-main-about h1 {
  font-weight: bold;
}
.c-main-about q {
  font-size: 150%;
  margin-bottom: 5rem;
}
.c-main-about p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.c-main-about .c-main-about-content-txt {
  text-align: left;
  margin: 5%;
}

@media screen and (min-width: 768px) {
  .c-main-about-content {
    display: flex;
  }
  .c-main-about-content img {
    margin-top: 10%;
    width: 22rem;
  }
  .c-main-about-content .c-main-about-content-txt {
    margin-left: 10%;
  }
}
@media screen and (min-width: 960px) {
  .c-main-about-content img {
    margin-top: 14%;
    width: 27rem;
  }
  .c-main-about-content .c-main-about-content-txt {
    margin-left: 10%;
  }
  .c-main-about-content .c-main-about-content-path1 {
    width: 18px;
    height: 35px;
    background-color: #8121e0;
    position: absolute;
    margin-left: 3.5rem;
    margin-top: 2.7rem;
  }
  .c-main-about-content .c-main-about-content-path2 {
    width: 8px;
    height: 35px;
    background-color: #8121e0;
    position: absolute;
    margin-left: 26.5rem;
    margin-top: 21rem;
  }
  .c-main-about-content .c-main-about-content-path3 {
    width: 8px;
    height: 35px;
    background-color: #8121e0;
    position: absolute;
    margin-left: 25.5rem;
    margin-top: 21rem;
  }
  .c-main-about-content .c-main-about-content-path3 {
    width: 130px;
    height: 75px;
    background: blue;
    /* Skew */
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
  }
}

/*# sourceMappingURL=screen.css.map */
