.l-header{
    width: 100%;
    margin-bottom: 1rem;
}

.l-header-content{
    display: flex;
    flex-direction: row;
    background-color: $second-color;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

.l-header-content-img{
    order: 2;
    display: flex;
    flex-direction: row;
    h1{
        text-indent: -9999px;
        height: 0;
        width: 0;
    }
    img{
        width: 65%;
    }
}

.l-header-content-nav{
    display: none;
    ul{
        margin: 0;
        padding: 0;;
    }
    li{
        text-decoration: none;
        list-style-type: none;
    }
}

.l-header-content-burger{
    order: 1;
    span{
        display: block;
        width: 2.5rem;
        height: 0.15rem;
        background-color: $bcg-color;
        margin: 0.5rem;
        border-radius: 5px;
    }
}

.l-header-content-burger-container{
    #menuToggle{
        display: block;
        position: relative;
        top: 0px;
        left: 0px;
        padding: 0 0.5rem 0 0;
        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a{
            text-decoration: none;
            color: $bcg-color;

            transition: color 0.3s ease;
        }

    #menuToggle a:hover{
        color: $main-color;
    }


    #menuToggle input{
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        
        cursor: pointer;
        
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        
        -webkit-touch-callout: none;
        }

    #menuToggle span{
        display: block;
        width: 40px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        
        background: $bcg-color;
        border-radius: 3px;
        
        z-index: 1;
        
        transform-origin: 4px 0;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    #menuToggle span:first-child{
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2){
        transform-origin: 0% 100%;
    }

    /* 
    * Transform all the slices of hamburger
    * into an X.
    */
    #menuToggle input:checked ~ span{
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: $main-color;
    }

    /*
    * hide the middle one.
    */
    #menuToggle input:checked ~ span:nth-last-child(3){
        opacity: 0;
        transform: rotate(0deg);
    }

    #menuToggle input:checked ~ span:nth-last-child(2){
        transform: rotate(-45deg);
        top:2px
    }
    #menu{
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        
        background: $second-color;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li{
        padding: 10px 0;
        font-size: 22px;
    }

    #menuToggle input:checked ~ ul{
        transform: none;
    }
}

//salade

.l-header-content-salade{
    order: 4;
    span{
        display: block;
        width: 2.5rem;
        height: 0.15rem;
        background-color: $bcg-color;
        margin: 0.5rem;
        border-radius: 5px;
    }
}

.l-header-content-salade-container{
    #menuToggle2{
        display: block;
        position: relative;
        top: 0px;
        right: 0px;
        padding: 0 0.5rem 0 0;
        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle2 a{
            text-decoration: none;
            color: $bcg-color;

            transition: color 0.3s ease;
        }

    #menuToggle2 a:hover{
        color: $main-color;
    }


    #menuToggle2 input{
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        
        cursor: pointer;
        
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        
        -webkit-touch-callout: none;
        }
        
    #menuToggle2 span{
        display: block;
        width: 10px;
        height: 10px;
        margin-bottom: 5px;
        position: relative;
        
        background: $bcg-color;
        border-radius: 100%;
        
        z-index: 1;
        
        transform-origin: 4px 0;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    #menuToggle2 input:checked ~ span{
        background-color: $main-color;
    }
    #menu2{
        position: absolute;
        width: 5rem;
        padding-top: 2rem;
        right: -20rem;
        background: $second-color;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    #menuToggle2 input:checked ~ #menu2{
        right: -1rem;    
    }

    #menu2 li{
        padding: 10px 0;
        font-size: 22px;
    }

    #menuToggle2 input:checked ~ ul{
        transform: none;
    }
}