//width
$xl-width:1400px;
$large-width: 1140px;
$medium-width: 960px;
$small-width: 768px;

//color
$main-color: #8121e0;
$second-color: #212121;
$third-color: #282828;
$fourth-color: #444444;
$fifth-color: #d8db00;
$bcg-color:#ffffff;


//font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
$font-stack: 'Poppins', sans-serif;
