
.c-main-about-content-img{
    position: relative;
}

.c-main-about{

    





    
    .c-main-about-content{
        
        

       margin: 5%;

  
        
        

    }

    

    img{
        border-radius: 10px;
        width: 100%;
        align-self: center;

        
        
    }

        .c-main-about-content-img-shape1::after{
            content: "";
            display: block;
            height: 35px;
            width: 18px;
            background-color: $main-color;
            position: absolute;
            top: -1em ;
            left: 2em ;
            }
        .c-main-about-content-img-shape1::before{
                content: "";
                display: block;
                height: 35px;
                width: 30px;
                background-color: $main-color;
                position: absolute;
                bottom: -1em ;
                right: 2em ;
                }

            
    
 
    h1{
        font-weight: bold;
    }
    q{
        font-size: 150%;
        margin-bottom: 5rem;
        font-weight: 300;
        text-decoration: none;
        position: relative;
        
    }

    .c-main-about-content-txt q::after{
        content: "";
        display: block;
        width: 10px;
        height: 30px;
        position: absolute;
        background-color: $main-color;
        transform: rotate(20deg);   
        opacity: 0.3;
        top: -0.2em;
        left: -0.7em;
            
    }
    .c-main-about-content-txt q::before{
        content: "";
        display: block;
        width: 10px;
        height: 30px;
        position: absolute;
        background-color: $main-color;
        transform: rotate(20deg);   
        opacity: 0.3;
        top: -0.2em;
        left: -0.1em;
            
    }

    


    p{
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-weight: 100;

    }

  
    .c-main-about-content-txt{
        text-align: left;
        margin: 5%;

        .c-main-about-content-txt-shape1::after{
            content: "";
            display: block;
            height: 35px;
            width: 10px;
            background-color: $main-color;
            bottom: 20em ;
            left: 5em ;
            opacity: 0.2;
            transform: rotate(10deg);

            }
        .c-main-about-content-txt-shape1::before{
            content: "";
            display: block;
            height: 35px;
            width: 10px;
            background-color: $main-color;
            top: 0em ;
            left: 3.8em ;
            opacity: 0.2;
            transform: rotate(10deg);

            
            }

        

    }
}
@media screen and (min-width:768px) {

    .c-main-about{
        position: relative;

        .c-main-about-content-img-shape1::after{
            content: "";
            display: block;
            height: 35px;
            width: 18px;
            background-color: $main-color;
            position: absolute;
            top: 1em ;
            left: 2em ;
            }
        .c-main-about-content-img-shape1::before{
                content: "";
                display: block;
                height: 35px;
                width: 30px;
                background-color: $main-color;
                position: absolute;
                top: 16em ;
                right: 2em ;
                }
    
    }



    .c-main-about-content{

        display: flex;
        img{
            margin-top: 10%;
            width: 22rem;
        
        }
        .c-main-about-content-txt{
            
            margin-left: 10%;
    
            
    
        }
        .c-main-about-content-img-shape1::after{
            content: "";
            display: block;
            height: 35px;
            width: 18px;
            background-color: $main-color;
            position: absolute;
            top: 1em ;
            left: 2em ;
            }
        .c-main-about-content-img-shape1::before{
                content: "";
                display: block;
                height: 35px;
                width: 30px;
                background-color: $main-color;
                position: absolute;
                right: 2em ;
                top: 16em;
                }

        

    }
    



}

@media screen and (min-width:960px) {

    .c-main-about-content{

        padding-top: 5%;


        img{
            margin-top: 14%;
            width: 27rem;
        
        }
        .c-main-about-content-txt{
            
            margin-left: 10%;

    
            
    
        }
        .c-main-about-content-img-shape1::after{
            content: "";
            display: block;
            height: 35px;
            width: 18px;
            background-color: $main-color;
            position: absolute;
            top: 2.5em ;
            left: 2em ;
            }
        .c-main-about-content-img-shape1::before{
                content: "";
                display: block;
                height: 35px;
                width: 30px;
                background-color: $main-color;
                position: absolute;
                right: 2em ;
                top: 21em;
                }




    }
}



