*{
    font-family:$font-stack ;
}


.c-main-discover{
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;

    border-radius: 10px;
    //background color en attendant de trouver une image 

    background-image: url("../img/bg-circle-2.png") ;
    background-repeat: no-repeat;
    background-color: rgb(243, 243, 243);
    background-size: cover;
    background-position: center center;             



    p{
        text-align: center;
        font-weight: 100;
    }

    
    .c-main-discover-content-title{
        text-align: center;
        font-weight: bold;
    }

    .c-main-discover-content-events-items{
        width: 90%;
        padding: 1rem;
        margin: 5%;

        text-align: center;
        list-style-type: none;
        span{
            color: transparent;
            background: linear-gradient(315deg, rgb(0, 162, 255) 0%,purple  74%);
            -webkit-background-clip: text;

        }

        span:hover {
            background: linear-gradient(315deg, purple 0%, rgb(0, 162, 255)  74%);
            -webkit-background-clip: text;
        }




    }
}

@media screen and (min-width:768px) {

    .c-main-discover-content-events{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .c-main-discover-content-events-items{
        width: 45%!important;
        margin: 1rem 0.5%!important;



        
       


        
        
    }

}


 @media screen and (min-width: 960px) {

    .c-main-discover{
        display: flex;
        flex-wrap: wrap;
  

        

       

        

    }
    
    .c-main-discover-content-events{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }




    .c-main-discover-content-events-items{
        width: 30%!important;
        margin: 1rem 0.5%!important;



        
       


        
        
    }


}
