*{
    font-family:$font-stack ;
}


.c-main-discover{
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;

    border-radius: 10px;
    //background color en attendant de trouver une image 
    p{
        text-align: center;
    }

    
    .c-main-discover-content-title{
        text-align: center;
        font-weight: bold;
    }

    .c-main-discover-content-events-items{
        width: 90%;
        padding: 1rem;
        margin: 5%;

        text-align: center;
        list-style-type: none;
        span{
            color: transparent;
            background: linear-gradient(315deg, rgb(0, 162, 255) 0%,purple  74%);
            -webkit-background-clip: text;

        }

        span:hover {
            background: linear-gradient(315deg, purple 0%, rgb(0, 162, 255)  74%);
            -webkit-background-clip: text;
        }




    }
}

@media screen and (min-width:768px) {



    .c-main-discover-content-events-column{


        display: flex;
        text-align: center;

        

        span, span:hover{
            margin-left: -17%;
            position: absolute;
           
        }

        i{
            margin-top: 1rem;

        
        }

        p,h1{
            text-align: left;
            padding-left: 5rem;
        }
        

    }

}


 @media screen and (min-width: 960px) {

    .c-main-discover{
        display: flex;
        flex-wrap: wrap;
  

        

       

        

    }



    .c-main-discover-content-events-items{
        border: 1px solid #f76707;
        width: 30%;
       


        
        
    }

}
