* {
    font-family: $font-stack;
}

.c-main-news {
    width: 100%;
    padding: 3rem;
    h1 {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 600;
        margin: 1em;
    }
}
.c-main-news-content {
    display: flex;
    flex-direction: column;
}

.c-main-news-content-list { 
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    .c-main-news-content-list-items:nth-of-type(2) {
        display: none;
      }
      .c-main-news-content-list-items:nth-of-type(3) {
        display: none;
      }

}
.c-main-news-content-list-items {
    time {
        justify-content: right;
        text-align: left;
        color:$third-color;
        font-weight: bold;
        border: $main-color 1px solid;
        border-radius: 5px;
        background-color: $main-color;
        color: white;
        text-transform: uppercase;
        margin: 5%;
        padding-right: 0.3em;
        padding-left: 0.3em;
    }
    h2{
        text-align: left;
        justify-content: right;
        color:$third-color;
        width: 90%;
        height: auto;
        margin: 5%;
    }
    p {
        text-align: justify;
        color:$fourth-color;
        opacity: 0.7;
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
    }
}


.c-main-news-content-list-items-button {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 5%;
    a {
        text-decoration: none;
        color:$fourth-color;
        display: inline-block;
        padding: 1em;
        text-align: left;
        width: 90%;
        margin: 5%;
        display: flex;
        flex-direction: row;
    }
    a:hover {
        color: $main-color;
    }
}

@media screen and (min-width:768px) {
    .c-main-news-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .c-main-news-content-list-items {
        width: 50%;
        margin: 3%;
    }
    .c-main-news-content-list-items:nth-of-type(2) {
        display: block!important;
        position: relative;
        width: 50%;
        height: 100%;
        z-index:2;
        
        &::before{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-image: url(../img/homepage-news-background.jpg);
        background-repeat:no-repeat;
        background-position:center;
        background-size: cover;
        position: absolute;
        top:0;
        left:0;
        opacity:.5;
        z-index: 1;
        }
    }
}

@media screen and (min-width:960px) {
    .c-main-news-content-list-items {
        width: 30%;
        margin: 1%;
    }
    .c-main-news-content-list-items:nth-of-type(3) {
    display: block!important;
    }
}

/*
.c-main-news-content-list-img {
    background-image: url(../img/homepage-news-background.jpg);
    background-repeat:no-repeat;
    background-position:center;
    width: 100%;
    height: 100%;
    background-size:  auto;
}*/
