// .c-main-schedule{
//     background-color: $main-color;
    
// }

// .c-main-schedule-content{
//     max-width: $small-width;
//     margin: auto;
// }

.c-main-schedule-content-box{
    width: 90%;
    border: 1px solid $second-color;
    padding: 1rem;
    margin: 5%;
    box-sizing: border-box;
}

.c-main-schedule-content-box-nav{

}